.idea
__pycache__/
*.pyc
wordcloud_core/__pycache__/scheduler.cpython-311.pyc
wordcloud_core/__pycache__/history_manager.cpython-311.pyc
wordcloud_core/__pycache__/generator.cpython-311.pyc
wordcloud_core/__pycache__/__init__.cpython-311.pyc
wordcloud_core/__pycache__/history_manager.cpython-311.pyc
wordcloud_core/__pycache__/__init__.cpython-311.pyc
wordcloud_core/__pycache__/__init__.cpython-311.pyc
wordcloud_core/__pycache__/generator.cpython-311.pyc
wordcloud_core/__pycache__/history_manager.cpython-311.pyc
wordcloud_core/__pycache__/scheduler.cpython-311.pyc
.gitignore
